**/.flattened-pom.xml
hudson.properties
**/.idea
**/node_modules/*
bower_components/*
ui/web
ui/src-web/config/*
ui/src-web/index.html
#Using boomerang-async.js from src-template
ui/src-web/boomerang-async.js
**/themes
**/_tempfiles
.flattened-pom.xml

.settings
.classpath
.project
.flattened-pom*

/hybrid/platforms
/hybrid/www/*

!hybrid/plugins
hybrid/plugins/*
!hybrid/plugins/fetch.json

.DS_Store
Thumbs.db
*/__pycache__/*
**/*.pyc
**/nohup.out
target
bin
classes
*.class
*.iml
.idea
**/*.iml
**/*.war
**/logs/**
**/out
**/*.log
**/build/**
build
.gradle
/build/
/.classpath
/.project
/.settings
/hudson.properties
/bin/
**/e2e/dist
**/e2e/node_modules
**/staging
/work
/target/
