<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <property name="log.history" value="10"/>

    <appender name="FILE-AUDIT"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/logs/TestService/applogs/application_structured.log</file>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.snp.logutil.JsonLogFormatter">
                <secureKeys>abc,def,password,jsessionid,key</secureKeys>
            </layout>
        </encoder>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>/logs/TestService/applogs/application_structured.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${log.history}</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>

    <appender name="FILE-UNSTRUCTURED"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/logs/TestService/applogs/unstructured.log</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %UTC [%thread] %-5level %logger{36} %class{0}.%method:%L - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>/logs/TestService/applogs/archived/unstructured.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${log.history}</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>

    </appender>


    <appender name="FILE-ERROR"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/logs/TestService/applogs/error.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>

        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %UTC [%thread] %-5level %logger{36} %class{0}.%method:%L - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>/logs/TestService/applogs/archived/error.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${log.history}</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>

    <appender name="REQUEST-AUDIT"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/logs/TestService/requestlogs/requests_structured.log</file>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.snp.logutil.JsonLogFormatter">
                <secureKeys>abc,def,password,jsessionid,key</secureKeys>
            </layout>
        </encoder>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>/logs/TestService/requestlogs/requests_structured.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${log.history}</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>


    <logger name="org.zalando.logbook" level="info"
            additivity="false">
        <appender-ref ref="REQUEST-AUDIT" />
    </logger>
    <logger name="com" level="debug"
            additivity="false">
        <appender-ref ref="FILE-UNSTRUCTURED"/>
    </logger>

    <logger name="com" level="error"
            additivity="false">
        <appender-ref ref="FILE-ERROR"/>
    </logger>

    <logger name="com" level="debug"
            additivity="false">
        <appender-ref ref="FILE-AUDIT" />
    </logger>
    <!--  <logger name="org.springframework.web.client.RestTemplate" level="debug"
            additivity="false">
        <appender-ref ref="FILE-UNSTRUCTURED"/>
    </logger>
    <logger name="org.springframework.web.servlet.mvc.method.annotation.HttpEntityMethodProcessor" level="debug"
            additivity="false">
        <appender-ref ref="FILE-UNSTRUCTURED"/>
    </logger>

    <logger name="org.springframework.web.client.RestTemplate" level="debug"
            additivity="false">
        <appender-ref ref="FILE-AUDIT"/>
    </logger>
    <logger name="org.springframework.web.servlet.mvc.method.annotation.HttpEntityMethodProcessor" level="debug"
            additivity="false">
        <appender-ref ref="FILE-AUDIT"/>
    </logger>-->
</configuration>
